<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>0D02F27D-35EC-4C2C-9516-9AD34E000D4D.playgroundpage</string>
		<string>E89E220B-F374-4BC3-BD89-DCB918D2C77E.playgroundpage</string>
		<string>30B5145E-9497-461F-B00B-87340CA5766E.playgroundpage</string>
	</array>
</dict>
</plist>
